on:
    schedule:
      - cron: '* * * * *'
    workflow_dispatch:  


    
jobs:
    test_schedule:
      runs-on: ubuntu-latest
      steps:
        - name: Every time
          run: echo "This step will always run"